/* 1. Reset body margin and padding, and set up full height for body */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: #000000; /* Background color */
  color: #ffffff; /* Text color */
  overflow-x: hidden;  /* Prevent horizontal scrolling */
}

/* 2. Model Canvas Styling */
#modelCanvas {
  position: absolute;  /* Keep the canvas on top of other content */
  top: 0;              /* Align to the top of the page */
  left: 0;             /* Align to the left of the page */
  width: 100vw;
  height: calc(var(--vh, 1vh) * 150);
  z-index: -1;         /* Place it behind other content */
  touch-action: none;  /* Disable touch interaction */
  pointer-events: none; /* Disable canvas interaction */
  overscroll-behavior: none;
}

/* @supports (height: 100dvh) {
  #modelCanvas {
    height: 100dvh;
  }
} */

/* 3. Navigation Styling */
.nav {
  position: absolute;   /* Position navigation on top of the model */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;           /* Ensure nav is above the canvas */
  background: rgba(0, 0, 0, 0.0); /* Transparent background */
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
}

/* 4. Footer Styling */
footer {
  position: relative;
  /* bottom: -80vh; */
  z-index: 1; /* Ensure footer is above the canvas */
  background-color: rgba(0, 0, 0, 0); /* Footer background color */
  color: white;
  padding: 20px;
  text-align: center;
  /* margin-top: 80px; */
  margin-bottom: 0;
  flex-shrink: 0;
  width: 100%;
  font-size: 12px;
  font-family: 'Electrolize';
}
footer p {
  margin: 0;
}

/* 5. Content Wrapper */
.content-wrapper {
  position: relative;
  z-index: 1;
  overflow-y: auto;  /* Enable scrolling */
  height: 145vh; /* Ensure it takes up the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid red; */
}

@supports (height: 100dvh) {
  .tagline-container {
    height: 100dvh;
  }
}

/* main title */
.wp-block-site-title {
  font-family: 'Envoyer-Outline', sans-serif;
  font-size: larger;
}


.tagline-container {
  /* height: 100vh; */
  position: absolute;
  top: 55vh;
  right: 2vw;
  height: 20vh;
  width: 100vw;
  /* border: 1px solid red; */
  text-align: center;

  display: flex;               /* Use flexbox for centering */
  justify-content: right;     /* Center horizontally */
  align-items: center;
  text-align: center;
}

.main-tagline {
  font-family: 'Turret Road', sans-serif;
  font-size: 45px;

}

.main-description-container {
  position: absolute;
  left: 10vw;
  bottom: 10vh;
  width: 45vw;
  height: 40vh;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  justify-content: center;     /* Center horizontally */
  align-items: left;
  text-align: left;

}



.main-description-title {
  font-family: Orbitron;
}
.main-description {
  font-family: Electrolize;
  font-size: 16px;
}



@font-face {
  font-family: 'Envoyer';
  src: url('fonts/Envoyer-Regular.woff2') format('woff2'),
      url('fonts/Envoyer-Regular.woff') format('woff'),
      url('fonts/Envoyer-Regular.svg#Envoyer-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Envoyer-Outline';
  src: url('fonts/Envoyer-Outline.woff2') format('woff2'),
      url('fonts/Envoyer-Outline.woff') format('woff'),
      url('fonts/Envoyer-Outline.svg#Envoyer-Outline') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


@font-face {
  font-family: 'Turret Road';
  src: url('fonts/TurretRoad-Medium.eot');
  src: url('fonts/TurretRoad-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/TurretRoad-Medium.woff2') format('woff2'),
      url('fonts/TurretRoad-Medium.woff') format('woff'),
      url('fonts/TurretRoad-Medium.svg#TurretRoad-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Turret Road';
  src: url('fonts/TurretRoad-Regular.eot');
  src: url('fonts/TurretRoad-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/TurretRoad-Regular.woff2') format('woff2'),
      url('fonts/TurretRoad-Regular.woff') format('woff'),
      url('fonts/TurretRoad-Regular.svg#TurretRoad-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Turret Road';
  src: url('fonts/TurretRoad-Bold.eot');
  src: url('fonts/TurretRoad-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/TurretRoad-Bold.woff2') format('woff2'),
      url('fonts/TurretRoad-Bold.woff') format('woff'),
      url('fonts/TurretRoad-Bold.svg#TurretRoad-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Turret Road';
  src: url('fonts/TurretRoad-ExtraLight.eot');
  src: url('fonts/TurretRoad-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('fonts/TurretRoad-ExtraLight.woff2') format('woff2'),
      url('fonts/TurretRoad-ExtraLight.woff') format('woff'),
      url('fonts/TurretRoad-ExtraLight.svg#TurretRoad-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Turret Road';
  src: url('fonts/TurretRoad-Light.eot');
  src: url('fonts/TurretRoad-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/TurretRoad-Light.woff2') format('woff2'),
      url('fonts/TurretRoad-Light.woff') format('woff'),
      url('fonts/TurretRoad-Light.svg#TurretRoad-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Turret Road';
  src: url('fonts/TurretRoad-ExtraBold.eot');
  src: url('fonts/TurretRoad-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('fonts/TurretRoad-ExtraBold.woff2') format('woff2'),
      url('fonts/TurretRoad-ExtraBold.woff') format('woff'),
      url('fonts/TurretRoad-ExtraBold.svg#TurretRoad-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Electrolize';
  src: url('fonts/Electrolize-Regular.woff2') format('woff2'),
      url('fonts/Electrolize-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-Regular.woff2') format('woff2'),
      url('fonts/Orbitron-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-ExtraBold.woff2') format('woff2'),
      url('fonts/Orbitron-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-Black.woff2') format('woff2'),
      url('fonts/Orbitron-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-SemiBold.woff2') format('woff2'),
      url('fonts/Orbitron-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-Bold.woff2') format('woff2'),
      url('fonts/Orbitron-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-Medium.woff2') format('woff2'),
      url('fonts/Orbitron-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
