/* 1. Reset body margin and padding, and set up full height for body */
*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Arial', sans-serif;
  background-color: #000000; /* Background color */
  color: #ffffff; /* Text color */
  overflow-x: hidden;  /* Prevent horizontal scrolling */
}

/* 2. Model Canvas Styling */
#modelCanvas {
  position: absolute;  /* Keep the canvas on top of other content */
  top: 0;              /* Align to the top of the page */
  left: 0;             /* Align to the left of the page */
  width: 100vw;
  z-index: -1;         /* Place it behind other content */
  touch-action: none;  /* Disable touch interaction */
  pointer-events: none; /* Disable canvas interaction */
  overscroll-behavior: none;
}

.wp-block-site-title {
  text-decoration: none !important;
}
.nav {
  position: absolute;   /* Position navigation on top of the model */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;           /* Ensure nav is above the canvas */
  background: rgba(0, 0, 0, 0.0); /* Transparent background */
  padding: 20px;
  text-align: center;
  font-size: 20px;
}
.content-wrapper {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.wp-block-site-title {
  font-family: 'Envoyer-Outline', sans-serif;
  font-size: larger;
}
.main-tagline {
  font-family: 'Turret Road', sans-serif;
  font-size: 45px;
  text-align: right;
  padding-right: 15px;
  font-weight: 500;

}
.tagline-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: end;
  justify-content: right;
  padding-bottom: 70px;

}
.main-description-container {
  position: relative;
  /* height: 92vh; */
  padding: 0px 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: justify;
}

.main-description-title {
  font-family: 'Orbitron';
}

.main-description {
  font-family: 'Oxanium';
  font-size: 18px;
}

.main-description-list {
  font-family: 'Space Mono';
  font-size: 16px;
}

ul.main-description-list {
  padding-left: 5px !important;
  padding-right: 10px !important;
}

ul.main-description-list li {
  list-style: none;
  position: relative;
  padding-left: 25px;
}

ul.main-description-list li::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f753"; /* check icon */
  position: absolute;
  left: 0;
  top: 0.2em;
  /* color: #007bff; */
}


/* 4. Footer Styling */
footer {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  text-align: center;
  margin-bottom: 0;
  flex-shrink: 0;
  width: 100%;
  font-size: 12px;
  font-family: 'Electrolize';
}
footer p {
  margin: 0;
}

button.wp-block-navigation__responsive-container-open[aria-label="Open menu"] {
  /* Your styles here */
  display: none;
}






@media (min-width: 768px) {
  /* Styles for tablets and larger */
  .tagline-container {
    height: 100vh;
    margin-right: 10vw;
  }
  .main-description-container {
    height: calc(var(--vh, 1vh) * 100 - 60px)
  }
}





@font-face {
  font-family: 'Envoyer';
  src: url('assets/fonts/envoyer/Envoyer-Regular.woff2') format('woff2'),
      url('assets/fonts/envoyer/Envoyer-Regular.woff') format('woff'),
      url('assets/fonts/envoyer/Envoyer-Regular.svg#Envoyer-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Envoyer-Outline';
  src: url('assets/fonts/envoyer/Envoyer-Outline.woff2') format('woff2'),
      url('assets/fonts/envoyer/Envoyer-Outline.woff') format('woff'),
      url('assets/fonts/envoyer/Envoyer-Outline.svg#Envoyer-Outline') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


@font-face {
  font-family: 'Turret Road';
  src: url('assets/fonts/turret-road/TurretRoad-Medium.eot');
  src: url('assets/fonts/turret-road/TurretRoad-Medium.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/turret-road/TurretRoad-Medium.woff2') format('woff2'),
      url('assets/fonts/turret-road/TurretRoad-Medium.woff') format('woff'),
      url('assets/fonts/turret-road/TurretRoad-Medium.svg#TurretRoad-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Turret Road';
  src: url('assets/fonts/turret-road/TurretRoad-Regular.eot');
  src: url('assets/fonts/turret-road/TurretRoad-Regular.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/turret-road/TurretRoad-Regular.woff2') format('woff2'),
      url('assets/fonts/turret-road/TurretRoad-Regular.woff') format('woff'),
      url('assets/fonts/turret-road/TurretRoad-Regular.svg#TurretRoad-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Turret Road';
  src: url('assets/fonts/turret-road/TurretRoad-Bold.eot');
  src: url('assets/fonts/turret-road/TurretRoad-Bold.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/turret-road/TurretRoad-Bold.woff2') format('woff2'),
      url('assets/fonts/turret-road/TurretRoad-Bold.woff') format('woff'),
      url('assets/fonts/turret-road/TurretRoad-Bold.svg#TurretRoad-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Turret Road';
  src: url('assets/fonts/turret-road/TurretRoad-ExtraLight.eot');
  src: url('assets/fonts/turret-road/TurretRoad-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/turret-road/TurretRoad-ExtraLight.woff2') format('woff2'),
      url('assets/fonts/turret-road/TurretRoad-ExtraLight.woff') format('woff'),
      url('assets/fonts/turret-road/TurretRoad-ExtraLight.svg#TurretRoad-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Turret Road';
  src: url('assets/fonts/turret-road/TurretRoad-Light.eot');
  src: url('assets/fonts/turret-road/TurretRoad-Light.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/turret-road/TurretRoad-Light.woff2') format('woff2'),
      url('assets/fonts/turret-road/TurretRoad-Light.woff') format('woff'),
      url('assets/fonts/turret-road/TurretRoad-Light.svg#TurretRoad-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Turret Road';
  src: url('assets/fonts/turret-road/TurretRoad-ExtraBold.eot');
  src: url('assets/fonts/turret-road/TurretRoad-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/turret-road/TurretRoad-ExtraBold.woff2') format('woff2'),
      url('assets/fonts/turret-road/TurretRoad-ExtraBold.woff') format('woff'),
      url('assets/fonts/turret-road/TurretRoad-ExtraBold.svg#TurretRoad-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Electrolize';
  src: url('assets/fonts/electrolize/Electrolize-Regular.woff2') format('woff2'),
      url('assets/fonts/electrolize/Electrolize-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Orbitron';
  src: url('assets/fonts/orbitron/Orbitron-Regular.woff2') format('woff2'),
      url('assets/fonts/orbitron/Orbitron-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Orbitron';
  src: url('assets/fonts/orbitron/Orbitron-ExtraBold.woff2') format('woff2'),
      url('assets/fonts/orbitron/Orbitron-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Orbitron';
  src: url('assets/fonts/orbitron/Orbitron-Black.woff2') format('woff2'),
      url('assets/fonts/orbitron/Orbitron-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Orbitron';
  src: url('assets/fonts/orbitron/Orbitron-SemiBold.woff2') format('woff2'),
      url('assets/fonts/orbitron/Orbitron-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Orbitron';
  src: url('assets/fonts/orbitron/Orbitron-Bold.woff2') format('woff2'),
      url('assets/fonts/orbitron/Orbitron-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Orbitron';
  src: url('assets/fonts/orbitron/Orbitron-Medium.woff2') format('woff2'),
      url('assets/fonts/orbitron/Orbitron-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Space Mono';
  src: url('assets/fonts/space-mono/SpaceMono-Bold.woff2') format('woff2'),
      url('assets/fonts/space-mono/SpaceMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Space Mono';
  src: url('assets/fonts/space-mono/SpaceMono-BoldItalic.woff2') format('woff2'),
      url('assets/fonts/space-mono/SpaceMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Space Mono';
  src: url('assets/fonts/space-mono/SpaceMono-Regular.woff2') format('woff2'),
      url('assets/fonts/space-mono/SpaceMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Space Mono';
  src: url('assets/fonts/space-mono/SpaceMono-Italic.woff2') format('woff2'),
      url('assets/fonts/space-mono/SpaceMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Oxanium';
  src: url('assets/fonts/oxanium/Oxanium-ExtraLight.woff2') format('woff2'),
      url('assets/fonts/oxanium/Oxanium-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Oxanium';
  src: url('assets/fonts/oxanium/Oxanium-ExtraLight.woff2') format('woff2'),
      url('assets/fonts/oxanium/Oxanium-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Oxanium';
  src: url('assets/fonts/oxanium/Oxanium-Light.woff2') format('woff2'),
      url('assets/fonts/oxanium/Oxanium-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Oxanium';
  src: url('assets/fonts/oxanium/Oxanium-Regular.woff2') format('woff2'),
      url('assets/fonts/oxanium/Oxanium-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Oxanium';
  src: url('assets/fonts/oxanium/Oxanium-Medium.woff2') format('woff2'),
      url('assets/fonts/oxanium/Oxanium-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Oxanium';
  src: url('assets/fonts/oxanium/Oxanium-Bold.woff2') format('woff2'),
      url('assets/fonts/oxanium/Oxanium-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Oxanium';
  src: url('assets/fonts/oxanium/Oxanium-ExtraBold.woff2') format('woff2'),
      url('assets/fonts/oxanium/Oxanium-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Oxanium';
  src: url('assets/fonts/oxanium/Oxanium-SemiBold.woff2') format('woff2'),
      url('assets/fonts/oxanium/Oxanium-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'KC Found X NeverMade';
  src: url('assets/fonts/kcfound/KCFoundXNeverMadeRegular.woff2') format('woff2'),
      url('assets/fonts/kcfound/KCFoundXNeverMadeRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
