/* 1. Reset body margin and padding, and set up full height for body */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: #000000; /* Background color */
  color: #ffffff; /* Text color */
  height: 100%;  /* Full viewport height */
  overflow-x: hidden;  /* Prevent horizontal scrolling */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* 2. Model Canvas Styling */
#modelCanvas {
  position: absolute;  /* Keep the canvas on top of other content */
  top: 0;              /* Align to the top of the page */
  left: 0;             /* Align to the left of the page */
  width: 100vw;        /* Full width of the viewport */
  height: 200vh;       /* 2x viewport height for the model */
  z-index: -1;         /* Place it behind other content */
  touch-action: none;  /* Disable touch interaction */
  pointer-events: none; /* Disable canvas interaction */
  overscroll-behavior: none; /* Prevent canvas from moving on scroll */
  overflow-x: hidden;
  overflow: hidden;
}

/* 3. Navigation Styling */
.nav {
  position: absolute;   /* Position navigation on top of the model */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;           /* Ensure nav is above the canvas */
  background: rgba(0, 0, 0, 0.0); /* Transparent background */
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
}

/* 4. Footer Styling */
footer {
  position: relative;
  /* bottom: -80vh; */
  z-index: 1; /* Ensure footer is above the canvas */
  background-color: rgba(0, 0, 0, 0); /* Footer background color */
  color: white;
  padding: 20px;
  text-align: center;
  /* margin-top: 80px; */
  margin-bottom: 0;
  flex-shrink: 0;
  width: 100%;
  font-size: 12px;
}
footer p {
  margin: 0;
}

/* 5. Content Wrapper */
.content-wrapper {
  position: relative;
  z-index: 1;
  overflow-y: auto;  /* Enable scrolling */
  height: 200vh; /* Ensure it takes up the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 6. Ensure scrolling works */
html, body {
  display: block;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative;
}
